{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<div class="row signup" >
  <div class="large-6 columns large-centered" >
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      <fieldset>
         <legend>{% trans "Sign Up" %}</legend>
        {% csrf_token %}
        {{ form|crispy }}
       {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button radius"type="submit" >{% trans "Sign Up" %} &raquo;</button>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}



